@model DealDouble.DataServices.Auction
@{
    ViewBag.Title = "DeleteAuction";
}


    <h3>Are you sure you want to Delete this auction </h3>

@*<form id="deleteForm" method="post">
    <input type="hidden" name="AuctionID" value="@Model.AuctionID" />
    <button type="button" class="btn btn-primary" id="deleteButton">Delete</button>
</form>*@
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Auction </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form id="deleteForm" method="post">
        <div class="modal-body">
            <input type="hidden" name="AuctionID" value="@Model.AuctionID" />
            <h5><i>Are you sure you want to Delete this auction</i></h5>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" id="saveButton" class="btn btn-danger"><i class="fas fa-trash-alt"></i> Delete Auction</button>
        </div>
    </form>
</div>


<script>
    $("#deleteButton").click(function () {
     
            $.ajax({
                method: "post",
                url: "@Url.Action("DeleteAuction","Auction")",
                data: $("#deleteForm").serialize()
            })
                .done(function (response) {
                    $("#listingArea").html(response);
                    $('#auctionModal').modal('toggle')
                });
        

    });
</script>
